@font-face {
  font-family: 'custom';
  src: url(../resources/fonts/kindergarten.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: custom;
}

body {
  padding: 2rem;
  background-color: black;
  height: 100vh;
  width: 100%;
  background-color: #FEF250;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  text-align: center;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

a, p, h1, h2, h3, h4, h5 {
  color: blue;
}

h1 {
  font-size: 5em;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

@media only screen and (max-width: 1000px) {
  a{
    font-size: .6em;
  }
    
  h1 {
    font-size: 4em;
    line-height: .8em;
    }

  main {
      width: 100%;
    }
}