@font-face {
  font-family: "Aeonik";
  src: url("../resources/fonts/Aeonik-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --general-padding: 20px;
}

::selection {
  background-color: #dbdbdb;
  color: #111;
}

body {
  background-color: #111;
  font-family: 'Aeonik';
}