@font-face {
  font-family: "Neue Haas Display Roman";
  src: url("../resources/fonts/NeueHaasDisplayRoman.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #000;
  color: #fff;
}

p {
  letter-spacing: 1px;
}

body {
  background-color: #000;
  font-family: 'Neue Haas Display Roman';
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quotes-container {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 20px;
  }
}

#newQuoteSection {
  /* font-size: 1.25em; */
  line-height: 30px;
  color: #fff;
}

.pill-btn {
  outline: none;
  border: none;
  padding: 10px 25px;
  background-color: transparent;
  color: #fff;
  border-radius: 25px;
  position: fixed;
  bottom: 20px;
  transition: 300ms;
}

.pill-btn:focus {
  outline: none;
}

.pill-btn:hover {
  color: #555;
}

#navContainer {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  border-radius: 15px;
  background-color: rgba(155, 155, 155, .1);
  backdrop-filter: blur(20px);
}

.nav-item {
  font-size: 1em;
  padding: 7px 20px;
  color: #fff;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  transition: 300ms;
}

.nav-item:focus {
  outline: none;
}

.nav-item:hover {
  color: #FFF;
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
}

@media (max-width: 600px) {
  #navContainer {
    width: 90vw;
    justify-content: space-between;
  }
}