@font-face {
  font-family: "Aeonik";
  src: url("../resources/fonts/Aeonik-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: 'Aeonik';
  overscroll-behavior: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFF;
}

p {
  color: #FFF;
}

a {
  color: #FFF;
}

/* ----------------------------- nav */

.navigation {
  width: 100vw;
  padding: 25px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
}

.navigation-item {
  font-size: 2em;
  text-decoration: none;
  transition: 500ms;
}

.navigation-item:hover {
  text-decoration: none;
  color: #555;
}
/* ----------------------------- GALLERY */
/* GALLERY can be used globally and will be used on the WEB DEVELOPMENT page */

.gallery-container {
  height: 100vh;
  width: 100vw;
  padding: 50px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gallery {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.gallery-item {
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .gallery {
    flex-direction: column;
    overflow: visible;
    height: 100vh;
  }
}